
@{
    ViewBag.Title = "LoRaDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <div class="tile">
        <div class="tile-title-w-btn">
            <h3 class="title"></h3>
            <p><a class="btn btn-primary icon-btn text-white" data-toggle="modal" data-target="#loraDeviceModel" id="btnLoraDeviceCreate"><i class="fa fa-tablet"></i>Create LoRaDevice</a></p>
        </div>
        <div class="tile-body">
            @*<button class="btn btn-info text-white mb-2 icon-btn" data-toggle="modal" data-target="#loraDeviceModel" id="btnLoraDeviceCreate">Create LoRaDevice</button>*@
            <div class="table-responsive">
                <table id="tbLoRaDevice" class="table table-hover table-bordered table-striped nowrap display" cellspacing="0" width="100%">
                    <thead>
                        <tr class="text-center">
                            <th>DevAddr</th>
                            <th>DevEUI</th>
                            <th>DevType</th>
                            <th>DevModel</th>
                            <th>Activate</th>
                            <th>Class</th>
                            <th>Channel Plan</th>
                            <th>Updated</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade bd-example-modal-lg" id="loraDeviceModel" tabindex="-1" role="dialog" aria-labelledby="loraDeviceModel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loraDeviceModelTitle"><i class="icon fa fa-object-ungroup"></i><span id="txtModelTitle" class="m-2">Create LoRaDevice</span></h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Device EUI : </label>
                        <div class="col-md-8">
                            <input id="DevEUI" class="form-control col-md-9 " type="text" placeholder="Device EUI (Required)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Device Address : </label>
                        <div class="col-md-8">
                            <input id="DevAddr" class="form-control col-md-9" placeholder="Device Address (Required)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Device Type : </label>
                        <div class="col-md-8">
                            <select id="DevType" class="form-control col-md-9" formControlName="role">
                                <option value="" selected disabled>Select DeviceType (Required)</option>
                                @foreach (var item in ViewBag.loraDeviceType)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Device Model : </label>
                        <div class="col-md-8">
                            <input id="DevModel" class="form-control col-md-9" placeholder="Device Model (Optional)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Activation : </label>
                        <div class="col-md-8">
                            <select id="Activate" class="form-control col-md-9" formControlName="role">
                                @foreach (var item in ViewBag.activation)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">LoRaWAN Class : </label>
                        <div class="col-md-8">
                            <select id="Class" class="form-control col-md-9" formControlName="role">
                                <option value="A">Class A</option>
                                <option value="C">Class C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Channel Plan : </label>
                        <div class="col-md-8">
                            <select id="Channel" class="form-control col-md-9" formControlName="role">
                                @foreach (var item in ViewBag.channelPlan)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Application Session Key : </label>
                        <div class="col-md-8">
                            <input id="AppSKey" class="form-control col-md-10" type="text" placeholder="Application Session Key (Required)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-3 font-weight-bold">Network Session Key : </label>
                        <div class="col-md-8">
                            <input id="NwkSkey" class="form-control col-md-10" placeholder="Network Session Key (Required)">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Close</button>
                <div id="DeviceDataPost"></div>                
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $('#DeviceManagementNav').addClass('is-expanded');
        $('#loraDeviceNav').addClass('active').css('font-weight', 'bold');

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            InitOverviewDataTable();
            $("#btnLoraDeviceCreate").click(function () {
                InitFormInput();
                $('#txtModelTitle').text("Create LoRaDevice");
                $('#DeviceDataPost').html("");
                $('#DeviceDataPost').append('<button type="button" class="btn btn-primary" id="btnDeviceDataPost" value="Create" onclick="PostLoRaDeviceData()"><i class="fa fa-fw fa-lg fa-check-circle"></i>Create</button>');
            });

            $('#tbLoRaDevice tbody').on( 'click', '#btnEdit', function () {
                var rowData = $('#tbLoRaDevice').DataTable().row($(this).parents('tr')).data();
                EditLoRaDevice(rowData.DevEUI);
                $('#txtModelTitle').text("Update LoRaDevice");
                $('#DeviceDataPost').html("");
                $('#DeviceDataPost').append('<button type="button" class="btn btn-info" id="btnDeviceDataPost" value="Update" onclick="PostLoRaDeviceData()"><i class="fa fa-fw fa-lg fa fa-floppy-o"></i>Update</button>');
            });
            $('#tbLoRaDevice tbody').on( 'click', '#btnDelete', function () {
                var rowData = $('#tbLoRaDevice').DataTable().row($(this).parents('tr')).data();
                Swal.fire({
                    title: 'Are you sure?',
                    html: '<strong>Do you want to delete  : </strong> '+rowData.DevType+'<p class="text-danger">DeviceEUI : ' + rowData.DevEUI + '</p> ',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    console.log(result);
                    if (result.value) {
                        DeleteLoRaDevice(rowData.DevEUI);
                    }
                });
            });
        });

        function InitFormInput() {
            $('#DevAddr').val("");
            $('#DevEUI').val("");
            $('#DevType').val("");
            $('#DevModel').val("");
            $('#GatewayEUI').val("");
            $('#Activate').val("");
            $('#Class').val("");
            $('#Channel').val("");
            $('#AppSKey').val("");
            $('#NwkSkey').val("");                   
        }

        function InitOverviewDataTable() {
            $('#tbLoRaDevice').DataTable({
                "ajax": {
                    "url": "/DeviceManagement/GetLoRaDevice",
                    "tye": "GET",
                    "datatype": "json",
                    "contentType": "application/json; charset=utf-8",
                    "dataSrc": function (dataResult) {
                        //console.log(result);
                        if (dataResult.data.length === 0) {
                            $.notify({
                                title: "",
                                message: "No data available",
                                icon: 'fa fa-exclamation'
                            }, {
                                type: "warning"
                            });
                        }
                        return dataResult.data;
                    }
                },
                "columnDefs": [ {
                    "targets": -1,
                    "data": null,
                    "defaultContent": '<div class="bs-component"><button id="btnEdit" class="btn btn-outline-warning fa fa-pencil-square-o" name="btnEdit" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></button>' +
                        '&nbsp;&nbsp;<button id="btnDelete" class="btn btn-outline-danger fa fa-trash-o" name="btnDelete" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></button></div>',
                }],
                "columns": [
                    { "data": "DevAddr", "autowidth": true },
                    { "data": "DevEUI", "autowidth": true },
                    { "data": "DevType", "autowidth": true },
                    { "data": "DevModel", "autowidth": true },
                    { "data": "Activate", "autowidth": true },
                    { "data": "Class", "autowidth": true },
                    { "data": "Channel", "autowidth": true },
                    { "data": "Updated", "autowidth": true },
                    { "data": "Created", "autowidth": true },
                    { "data": null}
                ],
                "searching": false,
                "lengthChange": false,
                "pageLength": 10,
                "order": [[7, "desc"]]
            });
        }

        function PostLoRaDeviceData() {
            var LoRaDeviceValue = {
                PostType: $('#btnDeviceDataPost').val(),
                DevAddr: $('#DevAddr').val(),
                DevEUI: $('#DevEUI').val(),
                DevType: $('#DevType').val(),
                DevModel: $('#DevModel').val(),
                GatewayEUI: $('#GatewayEUI').val(),
                Activate: $('#Activate').val(),
                Class: $('#Class').val(),
                Channel: $('#Channel').val(),
                AppSKey: $('#AppSKey').val(),
                NwkSkey: $('#NwkSkey').val()
            };

            $.ajax({
                type: "POST",
                url: "/DeviceManagement/LoRaDevicePost",
                data: JSON.stringify(LoRaDeviceValue),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (dataResult) {
                    console.log(dataResult.postType);
                    if (dataResult.message == "success") {
                        $('#loraDeviceModel').modal('hide');
                        if (dataResult.postType == "Create") {
                            Swal.fire({
                              position: 'center',
                              icon: 'success',
                              html: '<p class="text-success">Create susscess </p> ',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        }
                        else if (dataResult.postType == "Update") {
                            Swal.fire({
                              position: 'center',
                              icon: 'success',
                              html: '<p class="text-warning">Update susscess </p> ',
                              showConfirmButton: false,
                              timer: 1500
                            })
                        }                    
                        $('#tbLoRaDevice').DataTable().ajax.reload(null, false);
                    }
                    console.log(dataResult.message);
                }
            });
        }

        function EditLoRaDevice(DevEUI) {        
            var data = { DevEUI: DevEUI };
            $.ajax({
                type: "POST",
                url: "/DeviceManagement/DeviceUpdate",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (dataResult) {
                    console.log(dataResult);
                    if (!$.trim(dataResult)){   
                        alert("No data available!");
                    }
                    else {                      
                        $('#DevAddr').val(dataResult.data.DevAddr),
                        $('#DevEUI').val(dataResult.data.DevEUI),
                        $('#DevType').val(dataResult.data.DevType),
                        $('#DevModel').val(dataResult.data.DevModel),
                        $('#GatewayEUI').val(dataResult.data.GatewayEUI),
                        $('#Activate').val(dataResult.data.Activate),
                        $('#Class').val(dataResult.data.Class),
                        $('#Channel').val(dataResult.data.Channel),
                        $('#AppSKey').val(dataResult.data.AppSKey),
                        $('#NwkSkey').val(dataResult.data.NwkSkey)
                        $('#loraDeviceModel').modal('show');
                    }
                }
            });
        }

        function DeleteLoRaDevice(DevEUI) {
            var data = { DevEUI: DevEUI };
            $.ajax({
                type: "POST",
                url: "/DeviceManagement/DeviceDelete",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (dataResult) {
                    if (dataResult.message == "success") {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Deleted!.',
                            html: '<p class="text-danger">DeviceEUI : ' + DevEUI + '</p> ',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $('#tbLoRaDevice').DataTable().ajax.reload(null, false);
                    }
                }
            });
        }
    </script>
}
