
@{
    ViewBag.Title = "Water Quality Sensor";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <!-- ส่วนหัว -->
            <div class="tile-title-w-btn">
                <h3 class="title">
                    <i class="fa fa-thermometer-full"></i> @ViewBag.Title
                </h3>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped" id="tbWaterQualitySensor">
                        <thead>
                            <tr style="text-align:center">
                                <th>DateTime</th>
                                <th>DevEUI</th>
                                <th>GatewayEUI</th>
                                <th>WaterTemp</th>
                                <th>DO</th>
                                <th>DO_Cal</th>
                                <th>BATLevel</th>
                                <th>BATVolt</th>
                                <th>RSSI</th>
                                <th>SNR</th>
                            </tr>
                        </thead>
                        @*<tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:center">
                                    <td>@Html.Raw(string.Format($"{item.Date.ToString("yyyy/MM/dd")} {item.Time}"))</td>
                                    <td>@item.DevEUI</td>
                                    <td>@item.GatewayEUI</td>
                                    <td>@item.WaterTemp</td>
                                    <td>@item.DO</td>
                                    <td>@item.DO_Cal</td>
                                    <td>@item.BATLevel</td>
                                    <td>@item.BATVolt</td>
                                    <td>@item.RSSI</td>
                                    <td>@item.SNR</td>
                                </tr>
                            }
                        </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#applicationNav').addClass('is-expanded');
        $('#warterQualityNav').addClass('active').css('font-weight', 'bold');
    </script>
    <script type="text/javascript">
        $('#tbWaterQualitySensor').DataTable({
            "ajax": {
               "url": "/Application/GetWaterQualitySensor",
               "tye": "GET",
               "datatype": "json",
            },
            "columns": [
                { "data": "DateTime", "autowidth": true },
                { "data": "DevEUI", "autowidth": true },
                { "data": "GatewayEUI", "autowidth": true },
                { "data": "WaterTemp", "autowidth": true },
                { "data": "DO", "autowidth": true },
                { "data": "DO_Cal", "autowidth": true },
                { "data": "BATLevel", "autowidth": true },
                { "data": "BATVolt", "autowidth": true },
                { "data": "RSSI", "autowidth": true },
                { "data": "SNR", "autowidth": true },
            ],
            "order": [[0, "desc"]]
        });
    </script>
}